{{#each test}}
        <li>
            <img src="{{image}}" alt="{{title}}" class="book-image">
            <div class="book-details">
                <h2>{{title}}</h2>
                <p>Author: {{author}}</p>
                <p>Description: {{description}}</p>
                <button class="delete-button" id="button">Delete</button>
            </div>
        </li>
        {{/each}}